.sidebar-header {
    width: 18%;
    float: left;
    height: 100vh;
    position: fixed;
    justify-content: center;
    background-color: rgba(192, 236, 230, 0.993);
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.components {
    width: 80%;
    float: right;
    margin-top: 2%;
    overflow-x: hidden;
    overflow-y: hidden;
    
}
li {
    list-style-type: none;
    height: 60px;
    position: relative;
    justify-content: center;
    padding: 2px;
    justify-content: center;
    transition: ease-in-out, width .35s ease-in-out;
}
li::placeholder {
    cursor: pointer;
}
link {
    width: 100%;
}
.btn {
    width: 100%;
}
.btn-sidebar {
    border-radius: 1%;
}