.certificate {
    width: 550px;
    height: 500px;
    padding: 50px;
    align-items: center;
    position: initial;
}

.signon {
    align-items: inherit;
    position: relative;
    white-space: nowrap;
}
