/* .certificate {
    width: 550px;
    height: 850px;
    padding: 50px;
    align-items: center;
    position: initial;
    white-space: normal;           
    padding: 10px;            
} */

.signon {
    align-items: inherit;
    position: relative;
    white-space: normal;
}

body {
    position: relative;
    padding: 50px;
    background: lavender;
    height: fit-content;
    font-family: cursive;
    font-size: large;
    gap: inherit;
}
.metadata {
    display: block;
}

.url{
    width: 1000px;
    height: 50px;
}
  
button, input, select, textarea, p {
    line-height: inherit;
    position: inherit;
    margin-left: 300px;
}
textarea {
    width: 50%;
    height: 500px;
    min-height: max-content;
    resize: none;
    white-space: nowrap;
}